<body>
<div>
    <h1 class="text-info ms-2">{{aim}}</h1>
</div>    
    <div class="body container w-50" style="padding-top: 15%;">
        
            <form action="">
        <div class="row bg-black ">
            <div class="col-lg-12 text-white">
        
        <h2 class="mt-3" style="text-align: center;">Login</h2>
        <div class="mt-3">
            <input id="acid" name="acno" #acno class="form-control" type="text" [placeholder]="data" aria-label="default input example">
        </div>
        <div class="mt-3">
            <input id="pid" name="psw" #psw class="form-control" type="password" placeholder="Password" aria-label="default input example">
        </div>
        <div class="mt-3">
            <button type="submit" (click)="login(acno,psw)" class="btn btn-success mb-3" style="margin-left: 43%;">Success</button>
        </div>
        <div>
            <p >new user? <a href="" style="text-decoration: none;">register</a></p>
        </div>
            </div>
        
            
        </div>
        
        
        
            </form>
    
    </div>  
</body>