<!-- <p>transaction works!</p> -->

<div class="container text-center w-50 mt-4 p-5 bg-black text-white">
    <h1 class="" >Transaction History</h1>
    <table class="w-100" style="border: 3px solid  #ffffff;">
        <thead>
           <tr>
                <th style="border: 3px solid  #ffffff;">Transaction Type</th>
                <th style="border: 3px solid  #ffffff;">Transaction amount</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of transaction">
                <td style="border: 3px solid  #ffffff">{{i.type}}</td>
                <td style="border: 3px solid  #ffffff">{{i.amount}}</td>
            </tr>
            
            
        </tbody>
    </table>
</div>
